body {
  background-color: #d5020e;
  color: white;
}

#welcome {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 25px);
  transform: translate(-50%, -50%);
  text-align: center;
  margin: auto;
}

#welcome-title,
#welcome-tag {
  text-align: center;
}

#welcome-title {
  font-family: "Archivo Black", sans-serif;
}

#welcome-tag {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-top: -20px;
}

#sub-button-wrap {
  justify-self: center;
  margin: auto auto 12px auto;
  background-color: white;
  max-width: 250px;
  padding: 6px;
  border-radius: 5px;
}

#game-access {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-align: center;
}
